*{
	margin:0;
	padding:0;
	text-decoration: none;

}

ul,li{
	list-style-type: none;
}

.index>a{
	display: block; 
	border: 1px solid lightgray;
	border-radius: 10px;
	width: 20%;
	margin: 10px;
	text-align: center;
	color:purple;
	cursor: pointer;
}